:root {
    --dark-color: #2a2a2e;
}

.btn-faq {
    background-color: var(--dark-color);
    color: #fff;
}

.container-item-faq {
    border-color: var(--dark-color);
}

.accordion-button::after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(54%) saturate(0%) hue-rotate(5deg) brightness(110%) contrast(101%);;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(54%) saturate(0%) hue-rotate(5deg) brightness(110%) contrast(101%);;
}

/* Alterar cor de fundo do botão */
.accordion-button {
    background-color: var(--dark-color); /* Altere para a cor desejada */
    color: #ffffff; /* Cor do texto */
}

/* Quando o accordion está ativo */
.accordion-button:not(.collapsed) {
    background-color: #34495e; /* Cor diferente quando expandido */
    color: #ffffff;
}
