:root {
    --backgroud-color-black: #202024;
    
    --btn-color: #2d961b;
    --btn-color-hover: #8be574;

    --input-color: #2a2a2e;
    --bg-dark: #282828;
    --dark-color: #2a2a2e;
}

body {
    background-color: var(--backgroud-color-black);
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: max-content;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-wrap: pretty;
}

.btn-custom {
    background-color: var(--btn-color);
    color: #fff;
    border: none;
    width: 100%;
}

.btn-custom:hover, .btn.show {
    background-color: var(--btn-color-hover);
    color: #fff;
}

.btn-custom-secondary {
    border: 1px solid;
    border-color: var(--btn-color);
    color: var(--btn-color);
    &:hover {
        background-color: var(--btn-color-hover);
        color: #fff;
    }
}

input, #search {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3a3a40;
    background-color: var(--input-color);
    color: #fff;
    border: none;
    outline: none;
    text-transform: none;
}

.select-black {
    background-color: var(--input-color);
    color: #fff;
    border: none;
}

.btn-accordion {
    background-color: var(--dark-color);
    color: #fff;
}

.container-item-faq {
    border-color: var(--dark-color);
}

.accordion-button::after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(54%) saturate(0%) hue-rotate(5deg) brightness(110%) contrast(101%);;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(54%) saturate(0%) hue-rotate(5deg) brightness(110%) contrast(101%);;
}

/* Alterar cor de fundo do botão */
.accordion-button {
    background-color: var(--dark-color); /* Altere para a cor desejada */
    color: #ffffff; /* Cor do texto */
}

/* Quando o accordion está ativo */
.accordion-button:not(.collapsed) {
    background-color: #34495e; /* Cor diferente quando expandido */
    color: #ffffff;
}


#search {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3a3a40;
    background-color: var(--input-color);
    color: #fff;
    &::placeholder {
        color: #ffffff85;
    }
}

#logo {
    width: 200px;
    height: auto;
}

nav {
    color: var(--backgroud-color-black);
}

.nav-item {
    margin: 5px;
    font-size: 11pt;
}

.title {
    color: var(--btn-color-hover);
    font-family: Arial, Helvetica, sans-serif;
}

.title-white {
    color: #ffffffd6;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
    color: #ffffffb0;
    text-align: center;
}

.heartIcon {
    color: #bc0e0e;
}

.bg-dark-custom {
    background-color: var(--bg-dark);
}

.pagination .page-item .page-link {
    color: #2cd515; /* Cor personalizada */
    border: 1px solid #2cd515;
    transition: 0.3s;
    background-color: var(--bg-dark);
}

.pagination .page-item.active .page-link {
    background-color: #2cd515;
    color: #fff;
    border-color: #2cd515;
}

.pagination .page-item .page-link:hover {
    background-color: #2cd515;
    color: #fff
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
}

#content-wrapper {
    padding-bottom: 8rem;
}

#page-container {
    position: relative;
    min-height: max-content;
}

a {
    text-decoration: none;
}

.badge-bg-green {
    background-color: #475044;
}

.btn-pink {
    background-color: #ff4da6;
    color: white;
    font-weight: bold;
}

.rating-star {
    font-size: 20px;
    cursor: pointer;
    margin: 0 3px;
}

.status-btn {
    color: #d9f3d2b9;
    width: 20%;
    font-size: 13px;
    padding: 3px;
    &:hover {
        border-color: #d9f3d2b9;
    }
}

.status-btn-active {
    color: var(--bg-dark);
    background-color: #40a328;
    border-color: #40a328;
    width: 22%;
    font-size: 10px;
    padding: 5px;
    &:hover {
        color: var(--bg-dark);
        background-color: #40a328;
        border-color: #40a328;
        width: 22%;
        font-size: 10px;
        padding: 5px;
    }
}

#favorite-button {
    font-size: 20px;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    background-color: var(--btn-color);
}
