:root {
    --backgroud-color-black: #202024;
    
    --btn-color: #ee4d50;
    --btn-color-hover: #d83b3e;

    --input-color: #2a2a2e;
}

body {
    background-color: var(--backgroud-color-black);
    color: #ffffff;
}

.btn-custom {
    background-color: var(--btn-color);
    color: #fff;
    border: none;
    width: 100%;
    padding: 8px;
}

.btn-custom:hover, .btn.show {
    background-color: var(--btn-color-hover);
}

input, .platform-options {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3a3a40;
    background-color: var(--input-color);
    color: #fff;
}